<div>
  Asked
  <%= time_tag(@question.created_at, time_ago_in_words(@question.created_at)) %>
  ago by
  <%= safe_user_name(@question.author) %>
</div>
<h1><%= @question.title %></h1>

<%= simple_format(@question.body) %>
