<nav class="session-bar">
  <% if current_user.present? %>
    <span>Signed in as <%= current_user.name %></span>
    <%= button_to 'Log out', log_out_path, method: :delete, class: 'session-bar__action' %>
  <% else %>
    <%= link_to 'Log in', log_in_path, class: 'session-bar__action' %>
    <%= link_to 'Register', register_path, class: 'session-bar__action' %>
  <% end %>
</nav>
